body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f9;
  color: #09090a;
  display: grid;
  overflow-x: hidden;
}

.heading-content {
  position: absolute;
  top: 40%;
  width: 100%;
}

.social-icons1 ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding-left: 10%;
}

.social-icons1 li {
  list-style: none;
}

.flex-container {
  display: flex;
  bottom: 1rem;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  list-style: none;
  padding-left: 4px;
}

.flex-container li {
  list-style: none;
  color: #7f8cff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.heading-content h1 {
  padding-left: 10%;
  margin-top: -100px;
}

.heading-content p {
  padding-left: 10%;
}

.structure img {
  margin-top: 1%;
}

.foot-again {
  font-size: 15px;
}
