h2,
p
{ 
  font-family: Poppins, sans-serif; 
  color: #172b4d; 
  margin-left: 8vw;
}

p {
  font-size: 12px;
}

h2 {
  padding-top: 3vh;
}

body {
  background-image: url("bg1.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  margin-top: 10vh;
}

.logo {
  padding-top: 2vh;
}

.connect {
  color: #6070ff;
}

.navigation {
  background-color: white;
}

.bg {
  z-index: -3;
}
