@media only screen and (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f9;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 13px;
  }

  .header-part {
    display: flex;
    padding: 26px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    height: 40px;
    background-color: white;
  }

  .header-part a {
    text-decoration: none;
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

  nav .fa {
    color: #6070ff;
  }

  .headline-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white url(./images/header-shapesmobile.png);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    border-bottom-left-radius: 50px;
    background-position: center;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    margin-top: -1px;
  }

  .headline-part h1 {
    line-height: 52px;
    width: 90%;
  }

  .headline-part p {
    line-height: 22px;
    width: 90%;
  }

  .connect a {
    font-weight: 500;
    color: #7f8cff;
    width: 90%;
    text-decoration: none;
  }

  .social-icons {
    width: 90%;
  }

  .social-icons ul {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 0;
  }

  li {
    list-style: none;
  }

  .flex-container li {
    background: #f7f7f9;
    border-radius: 10px;
    color: #6070ff;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: 500;
  }

  .social-icons ul li {
    list-style: none;
    height: auto;
  }

  .social-icons ul li img {
    width: 20px;
  }

  .box {
    background: #f7f7f9;
    padding: 114px 24px 0 24px;
    font-family: "Poppins", sans-serif;
    border-bottom-left-radius: 50px;
    overflow: hidden;
  }

  .main-container {
    border: 1px solid #efe1e6;
    background: #fff;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px 16px 0 16px;
    margin-bottom: 88px;
  }

  .structure {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .transpalent {
    color: #7a869a;
  }

  .flex-container {
    display: flex;
    bottom: 1rem;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    list-style: none;
    padding-left: 14px;
  }

  .about {
    margin-bottom: 28px;
    background: var(--body-color);
    border-radius: 10px;
    border: 1px solid #396df2;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    outline: none;
    text-align: center;
    width: 124px;
    height: 48px;
    margin-left: 6px;
  }

  .about:active {
    background: red;
  }

  .about-me h2 {
    top: 0;
    margin-left: 24px;
    font-size: 40px;
    height: 90px;
    line-height: 52px;
  }

  .me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 100px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    padding-left: 24px;
    background: #fff;
    border-top: 1px solid #efe1e6;
  }

  .abm {
    padding-left: 0;
    padding-right: 118px;
    line-height: 40px;
  }

  .about2 {
    background: var(--body-color);
    border-radius: 10px;
    border: 1px solid #396df2;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    outline: none;
    text-align: center;
    width: 170px;
    height: 48px;
    margin-left: 24px;
  }

  .about2:active {
    background: red;
  }

  .lan {
    font-weight: 500;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }

  .election {
    width: 15px;
    height: 15px;
  }

  .arrow {
    display: flex;
    align-items: center;
    padding-right: 60px;
    justify-content: space-between;
  }

  .languages ul {
    padding: 0;
  }

  .election2 {
    width: 15px;
    height: 15px;
  }

  .separator {
    position: absolute;
    width: 300px;
  }
}
